a {
    text-decoration: none;
}

.fw-semibold {
    font-weight: 500;
}

.text-sm {
    font-size: small;
}

body {
    background-color: #f8fafc;
}

.table th {
    font-weight: 500;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 4px;
}
